@using FA.JustBlog.Models.Post
@model PostListViewModel


<div class="row">
    <div class="col-lg-8">
        <div class="bg-white p-4">
            <h1 class="h4 mb-4">Popular Posts</h1>
            @foreach (var post in Model.Posts)
            {
                <div class="card bg-transparent border-0 mb-3">
                    <div class="row">
                     

                          @if (@post.Image != null && @post.Image.Length > 0)
                            {
                            string imageBase64 = Convert.ToBase64String(@post.Image);
                                string imageSrc = $"data:image/jpeg;base64,{imageBase64}";
                            <img src="@imageSrc" alt="Image" style="width:368px;height:309px; object-fit:cover" />
                            }
                           
                            else
                            {
                            <img class="border-radius-15" src="~/img/posts/slogan.png" alt="@post.ImageAlt" style="width:368px;height:309px; object-fit:cover" />

                            }


                        <div class="col-8">


                            <h5>
                               
                                <a asp-controller="Posts" asp-action="detail" asp-route-PostId="@post.Id" class="btn-link fw-bold">@post.Title</a>

                            </h5>
                            <p>@post.Title</p>
                        </div>
                    </div>
                </div>
                <hr class="my-3">
            }
           
        </div>
    </div>
    <div class="col-lg-4">
        @await Component.InvokeAsync("NewPosts")
         @await Component.InvokeAsync("TagsMenu")
       
    </div>
</div>


